.navbar-scroll {
    background-color: #0e172a;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    z-index: 99;
    /* Add additional styles for the scrolled state */
  }
  .theme{
    margin-left: 0 !important;
  }
  .dropdown{
    margin-left: 0 !important;
  }
  